<style>
    .plug {
        background-color: #ebeaea;
        padding: 40px;
        text-align: left;
    }

    .footer {
        background-color: #ebeaea;
        padding: 20px;
        text-align: center;
        border-top: 2px solid #bbbbbb
    }

    .clinic-hours {
        padding-left: 140px;
    }

    .sitemap-links a,
    .social-media-links a {
        display: block;
        margin-bottom: 10px;
        padding-left: 140px;
        text-decoration: none;
        color: black;
    }

    .sitemap-links h4,
    .social-media-links h4 {
        padding-left: 140px;
        margin-bottom: 15px;
    }
</style>

<div class="plug">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <div class="clinic-hours">
                        <h4>Clinic Hours</h4><br>
                        <h5>Weekday</h5>
                        <p>8:30am to 5:30pm</p>
                        <h5>Saturday</h5>
                        <p>8:30am to 12:30pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="sitemap-links">
                        <h4>Sitemap</h4>
                        <a href="/aboutUs">About Us</a>
                        <a href="/services">Services</a>
                        <a href="/contactUs">Contact Us</a>
                        <a href="/feedback">Feedback</a>
                        <a href="/bookAppointment">Appointment</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="social-media-links">
                        <h4>Social Media</h4>
                        <a href="https://www.facebook.com">Facebook</a>
                        <a href="https://www.instagram.com">Instagram</a>
                        <a href="https://www.youtube.com">YouTube</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <p>Copyright © 2024 JX Clinic Pte Ltd. All rights reserved. | Sitemap</p>
</footer>